{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Об аниме ...{% endblock title %}

{% block main %}

<div class="row featurette py-3">
    <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading fw-normal lh-1">{{ name }}</h1>

        <h4 class="featurette-heading fw-normal lh-1">{{ additional_name }}</h4>
        <div class="row">
            <strong class="col-3 d-inline-block mb-2 text-primary-emphasis">Оценка: {{ main_num_rating }}</strong>
            <strong class="col d-inline-block mb-2 text-primary-emphasis">Место в личном топе: {{ my_top_rating }}</strong>
        </div>
        <h4 class="featurette-heading fw-normal lh-1">Отзыв:</h4>
        <p class="lead">{{ review }}</p>
    </div>
    <div class="col-md-3 order-md-1">
        <img class="bd-placeholder-img" width="200" height="250" src="{{ photo.url }}" alt="">
    </div>
</div>
<h2 class="featurette-heading fw-normal lh-1">Описание:</h2>
<p class="lead">{{ description }}</p>

{% endblock main %}