{% extends "myapp/base.html" %}
{% load static %}

{% block title %}Об аниме ...{% endblock title %}

{% block main %}

<div class="row featurette py-3">
    <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading fw-normal lh-1">Название аниме!!!</h1>

        <h4 class="featurette-heading fw-normal lh-1">Краткое описание:</h4>
        <p class="lead">Краткое описание:</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img" width="200" height="250" src="{% static "img/cod-geas.jpg" %}" alt="">
    </div>
</div>
<h2 class="featurette-heading fw-normal lh-1">Описание:</h2>
<p class="lead">бубубубубу бубубу бубу</p>

{% endblock main %}